@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);


*{
    margin:0;
    padding:0;
    font:12pt Arial;
}

.field {
  display:flex;
  position:realtive;
  margin:16.35em auto;
  width:35%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 white,

  ;
}

body {
    background-color: #ffdd90;
    background-image: url("img/googleFondo.png");
  }

.field>input[type=text],
.field>button {
  display:block;
  font-family: 'Hurricane', cursive;
/*font-family: 'Noto Sans JP', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/
}

.field>input[type=text] {
  flex:1;
  padding:0.3em;
  border:(0.2em solid white);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:white;
  color:white;
  border:none;
}
